 body 
{
    background-color: blue; 
    text-align: center;
}
 #sita
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#lakshman
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#rama
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#sugriv
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#o1947
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#o1945
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#o1916
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#o1939
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#humayun
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#babur
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#akbar
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#jahangir
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}




#divinecomedy
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#ramayan
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#mahabharat
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#quran
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}




#greek
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#norse
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#egyptian
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#christian
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}





#Iliad
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#divinecomedy
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#tale
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#cursedbook
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}




#hindi
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#tamil
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#telugu
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#malyalam
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}





#restart
{
   background-color: gold;
   color: blue;
}


#heading
{
   font-size: 400px;
   color: gold;
}


#james cameron
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#Taiki Vatiti
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#satyajit ray
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}

#joe
{
   background-color: rgba(255, 217, 0, 0.911); 
   width: 250px;
}